{'kind': 'identitytoolkit#GetAccountInfoResponse', 'users': [{'localId': 'BcCs3KsL5GSHM6pPKtpsH0JpuTf1', 'email':
'user@example.com', 'displayName': 'John Doe', 'photoUrl': 'http://www.example.com/12345678/photo.png', 'passwordHash':
'UkVEQUNURUQ=', 'emailVerified': False, 'passwordUpdatedAt': 1578542170047, 'providerUserInfo': [{'providerId': 'phone',
'rawId': '+15555550100', 'phoneNumber': '+15555550100'}, {'providerId': 'password', 'displayName': 'John Doe',
'photoUrl': 'http://www.example.com/12345678/photo.png', 'federatedId': 'user@example.com', 'email': 'user@example.com',
'rawId': 'user@example.com'}], 'validSince': '1578542170', 'disabled': False, 'lastLoginAt': '1578546102015',
'createdAt': '1578542170047', 'phoneNumber': '+15555550100', 'lastRefreshAt': '2020-01-09T05:01:42.015Z'}]}